html,body{
    width: 100%;
    margin:0px;
    padding:0px;
}

.container {
    margin:0px;
    padding:0px;
    min-width: 100%;
}

.caja_autores {
    margin:0px;
    padding:0px;
    width:50%;
}

.caja_autor {
    padding:10px 0px;
    border-bottom: 1px dashed;
    border-right: 1px dashed;
    align-items: center;
}

.caja_descripcion {
    max-width: 70%;
    margin:0px;
    padding:0px;
    padding-left:20px
}

.img_autor{
    margin:0px;
    padding:0px;
    object-fit: contain;
    max-width: 17%;
    max-height: 80px;
    min-height: 80px;
    min-width: 17%;
}

.img_autor_detail {
    margin:0px;
    padding:0px;
    object-fit: contain;
    aspect-ratio: 2/1;
    max-height: 150px;
    align-items: end;
}

.caja_descripcion_detail {
    max-width: 100%;
    margin:0px;
    padding:0px;
    padding-left:20px
}

.caja_autor_detail {
    max-height: 200px;
    max-width: 40%;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    margin:5px 20px;
    border:1px solid;
}

.caja_btns{
    margin:0px;
    padding:0px 3%;
    display:flex;
    flex-direction:column;
    align-items:center;
    max-width: 25%; 
}

.custom_btn{
    max-width: 100%;
    min-width: 100%;
    margin:5px 0px;
}

.img_libro_detail{
    margin:0px;
    padding:0px;
    object-fit: contain;
    max-height: 300px;
}

.titulo_autor{
    width: 100%;
    max-width: 100%;
    align-items: center;
    text-align: center;
    font-size: 50px;
    color:chocolate;
    margin-bottom:10px;
}